@import 'src/index.scss';

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 15px;

  img {
    padding-top: 2px;
  }

  @include desktop {
    font-size: 18px;
  }
}

li:last-child {
  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.timeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

}

.time {
  width: 63px;
  height: 24px;
  @include flex-center;

  background: #D9E8FF;
  border-radius: 11px;

  @include desktop {
    font-size: 16px;
  }

  &:hover {
    cursor: pointer;
    background: #6BA6FF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: white;
  }
}

