.card {
  display: flex;
  flex-wrap: wrap;

  border: 0.3px solid #828282;
  border-radius: 16px;
}

.img {
  width: 100%;

  margin-bottom: 18px;
}

.main {
  padding: 0 12px;
}

.time {
  display: flex;
  gap: 9px;
  font-size: 12px;
  margin-bottom: 15px;
  color: #9E9E9E;
}

.title {
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}

.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.price {
  font-size: 30px;
  color: black;
  position: relative;

  > div {
    font-size: 10px;
  }

  &:after {
    position: absolute;
    top: -2px;
    left: 55px;
    display: inline-block;
    content: "";
    width: 19px;
    height: 23px;
    background: transparent url('../../assets/svg/ruble-currency-sign.png') no-repeat;
  }
}

.button {
  width: 165px;
  height: 44px;

  background: #FED74B;
  border: 0.5px solid #CBA500;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}