@import 'src/index.scss';

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: #404040;
  font: 200 14px/20px OpenSans, sans-serif;
  letter-spacing: 0.5px;
  margin: 0;
}

.layout {
  @include flex-center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 27px 16px;

  @include desktop {
    gap: 60px;
    padding: 67px 30px;
  }
}

button {
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}