body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** CSS STYLE **/
/*@font-face {*/
/*  font-weight: normal;*/
/*  font-family: Neucha;*/
/*  font-style: normal;*/

/*  src: url("../assets/fonts/Neucha/Neucha-Regular.ttf") format("truetype");*/
/*}*/

/*@font-face {*/
/*  font-weight: normal;*/
/*  font-family: OpenSans;*/
/*  font-style: normal;*/

/*  src: url("../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")*/
/*  format("truetype");*/
/*}*/

:root {
  --white: #fff;
  --white-transp: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transp: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: var(--dark);
  font: 16px/1.6 OpenSans, sans-serif;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  margin-top: 0;
  margin-bottom: 195px;

  font-size: 72px;
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 60px;
}

h3 {
  margin: 0;

  font-size: 34px;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

section {
  position: relative;

  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

section::before {
  position: absolute;
  top: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  background-color: var(--light);

  /*background-image: url("../assets/images/background.png");*/
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.content-wrap {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.d-flex p {
  max-width: 540px;
}

.img-main {
  position: absolute;
  top: 55px;
  right: -105px;

  height: 525px;
}

.main-col {
  color: var(--main);
}

.mt-40 {
  display: block;
  margin-top: 40px;
}

.btn {
  width: 148px;
  height: 49px;
  padding: 12px 24px;

  color: var(--white);

  font: 700 16px/1.6 OpenSans, sans-serif;

  background-color: var(--main);
  border: none;
}

button:hover {
  background-color: #ea7600;
  cursor: pointer;
}

.no-bg::before {
  position: unset;

  background-image: none;
}

main section:first-child {
  margin-bottom: 369px;

  text-align: center;
}

main section:first-child p {
  margin-bottom: 30px;
}

.video {
  position: absolute;
  right: 260px;
  z-index: 1;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

main section:nth-child(2) {
  padding-top: 200px;

  background-color: var(--main-dark);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header a,
main a {
  color: unset;
  text-decoration: none;
}

.first-row {
  width: 350px;
  height: 323px;
  margin-bottom: 20px;
}

.second-row {
  width: 350px;
  height: 348px;
}

.first-card {
  padding: 0;

  color: var(--white);
  font: 52px/1.2 Neucha, sans-serif;
}

.nav-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  padding: 24px;

  background-color: var(--light);
}

.nav-card h3 {
  color: var(--main);
}

.nav-card p:first-child {
  padding-bottom: 24px;

  font: 64px/1 Neucha, sans-serif;
}

.nav-card:hover {
  gap: 4px;
  height: min-content;

  color: var(--white);

  background-color: var(--main);
}

.nav-card:hover h3 {
  color: var(--white);
}

.nav-card:hover p:first-child {
  padding-bottom: 20px;
}

.subtitle-1 {
  color: var(--dark-transp);
  font: 24px/1.2 Neucha, sans-serif;
}

.subtitle-2 {
  font: 34px/1.2 Neucha, sans-serif;
}

h4 {
  margin: 100px 0 20px;
  padding: 5px 10px;

  font: 700 14px/1.2 OpenSans, sans-serif;
}

.odd h4 {
  color: var(--white);

  background-color: var(--brown);
}

.even {
  color: var(--white);

  background-color: var(--brown);
  z-index: 0;
}

.even h4 {
  color: var(--brown);

  background-color: var(--white);
}

.even .subtitle-1 {
  color: var(--white-transp);
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 38px 55px 40px;

  color: var(--white);

  background-color: var(--main-dark);
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 0.6;
  justify-content: space-between;
}

form div {
  display: flex;
  align-items: center;
}

form a {
  color: unset;
}

input {
  flex-grow: 1;
  height: 50px;
  padding: 15px;

  border: none;
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;

  background-color: var(--main);
  border: none;
}

.contacts {
  color: black;
  font-size: 14px;
  text-align: center;
}